{% extends 'layout.html' %}

{% block body %}
<form action={{url_for('updateprofile',user_name=user['username'])}} method='POST' enctype=multipart/form-data>

<p>change profile picture:
<input type='file' name='file'></p>

<p>username: <input type="text" name="username" placeholder="{{user['username']}}"> </p>

<p>bio: <input type="text" name="bio" placeholder="{{user['bio']}}"> </p>

<input type="submit" value="save changes">
</form>
{% endblock body %}
