{% extends 'layout.html' %}

{% block body %}

people to follow:
<br>

{% for user in user_list %}

<form action={{url_for('profile', user_name=user['username'])}} method="POST">
<input type="submit" name="name" value="{{user['username']}}">
</form>

<form action="/follow" method="POST">
<input type="hidden" name="name" value="{{user['username']}}">
<input type="submit" value="follow">
</form>

<br>

{% endfor %}

{% endblock body %}