{% extends 'layout.html' %}

{% block body %}

{% if session %}

<form action='/explore' method='POST'>
	<input type="submit" value="explore">
</form>

<form action={{url_for('profile', user_name=session['username'])}} method='POST'>
	<input type="submit" value="profile">
</form>


<!-- add feed here -->


{% else %}
<h1>Welcome to Mini Instagram! - an Instagram clone</h1>
<!-- sign up ! -->

<p>Have an account? <a href="{{ url_for('login') }}"> Login!</a></p>
<p>Don't have an account? <a href="{{ url_for('signup') }}"> Sign up!</a></p>

{% endif %}

{% endblock body %}
