<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>{{ title }}</title>
	{%else%}
	<title>instagram</title>
	{% endif %}
	<a href='/'><h1><center>Instagram</center></h1></a>
</head>
<body>
	{% block body %}

	{%endblock body %}
</body>
<footer>
	<br>
	&copy; Instagram 2019
	<br>
	{% if title!='contact' %}
	<a href="#">contact</a><br>
	{%endif%}
	{% if title!='about' %}
	<a href="#">about</a><br>
	{%endif%}
	{% if session %}
	<a href="/logout">logout</a>
	{% endif %}	
</footer>
</html>