{% extends 'layout.html' %}

{% block body %}

<h3>Log in:</h3>

<form method="POST" action="/login">


<div>
    {{ form.username.label }}
    {% if form.username.errors %}
        {{ form.username }}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
    {% else %}
        {{ form.username }}
    {% endif %}
</div>

<div>
    {{ form.password.label }}
    {% if form.password.errors %}
        {{ form.password }}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
    {% else %}
        {{ form.password }}
    {% endif %}
</div>

<div>
	{{ form.submit }}
</div>

</form>

{% endblock body %}
