{% extends 'layout.html' %}

{% block body %}

<img alt='post', width='800',height='800', src={{post['path']}} >
<br><br>
<p style="color:goldenrod"><b>{{username}}</b> &nbsp; {{post['caption']}}<br><br></p> 

{% for comment in post['comments'] %}

<b>{{comment['made_by']}}</b> &nbsp; {{comment['text']}}<br><br>

{% endfor %}

<form action = {{url_for('comment', user_name=username, post_no=post['post-number'])}} method=POST>
    <input type=text name=comment placeholder="comment...">
    <input type=submit value=post>
</form>


{% endblock body %}