{% extends 'layout.html' %}

{% block body %}

<p><img alt='dp', width='70',height='70', src={{user['dp']}} ></p>

<pre>  {{posts['posts']|length}}          {{user['followers']|length}}          {{user['following']|length}}</pre>
<a href="#">posts</a> &nbsp; <a href="#">followers</a> &nbsp; <a href="#">following</a>
<p><b>{{user['username']}}</b></p>
&nbsp;{{user['bio']}}
<br><br>

{% if user['username']==session['username'] %}

<form action={{url_for('editprofile',user_name=user['username'])}} method='POST'>
	<input type="submit" value="edit profile">
</form>

<form action='/upload/sd23f&4' method='POST'>
	<input type="submit" value="upload">
</form>
{%else%}
<form action="/follow" method="POST">
<input type="hidden" name="name" value="{{user['username']}}">
<input type="submit" value="follow">
</form>
{% endif %}

<br><br>

{% for post in posts['posts'] %}
<a href={{url_for('a_post', user_name=user['username'], post_no=post['post-number'])}}>
<img alt='post', width='400',height='400', src={{post['path']}} >
</a>
{% endfor %}

{% endblock body %}
