{% extends 'layout.html' %}

{% block body %}

<h3>Sign up:</h3>

<form method="POST" action="">

<div>
    {{ form.username.label }}
    {% if form.username.errors %}
        {{ form.username }}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
    {% else %}
        {{ form.username }}
    {% endif %}
</div>

<div>
    {{ form.email.label }}
    {% if form.email.errors %}
        {{ form.email }}
            {% for error in form.email.errors %}
                {{ error }}
            {% endfor %}
    {% else %}
        {{ form.email }}
    {% endif %}
</div>

<div>
    {{ form.password.label }}
    {% if form.password.errors %}
        {{ form.password }}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
    {% else %}
        {{ form.password }}
    {% endif %}
</div>

<div>
    {{ form.confirm_password.label }}
    {% if form.confirm_password.errors %}
        {{ form.confirm_password }}
            {% for error in form.confirm_password.errors %}
                {{ error }}
            {% endfor %}
    {% else %}
        {{ form.confirm_password }}
    {% endif %}
</div>

<div>
	{{form.submit}}
</div>

</form>

{% endblock body %}
