{% extends 'layout.html' %}

{% block body %}

    <h2>Upload new File</h2>
    <form action='/upload/ew1rty&td' method=POST enctype=multipart/form-data>
      <input type=file name=file><br><br>
      <input type="text" name='caption' placeholder="enter caption..."><br><br>
      <input type=submit value=Upload>
    </form>

{% endblock body %}